<!DOCTYPE html>
<html>
<head>
  <title>Your Playlists</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



</head>
<body>
  <h2>Your Spotify Playlists</h2>
  <form id="playlist-form">
    {% for p in playlists %}
      <div class="playlist" data-playlist-id="{{ p.id }}">
      <input type="checkbox" name="playlist_ids" value="{{ p.id }}" data-track-ids='{{ p.track_ids | tojson }}'>


        <img src="{{ p.image }}" width="60" alt="cover">
        <strong>{{ p.name }}</strong> ({{ p.tracks }} tracks)
        <span class="vibe" id="vibe-{{ p.id }}"></span>
      </div>
    {% endfor %}
    <div id="liked-songs-placeholder"></div>

    <div class="analyze-card">
  <button type="button" id="analyze-btn" class="analyze-button">Analyze Selected</button>
  <div id="vibe-result" class="vibe-box"></div>
</div>

  </form>
<a class="btn btn-success" href="{{url_for('download')}}">Download</a>

 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 <script src="{{ url_for('static', filename='analyze.js') }}"></script>
</body>
</html>
